#home {
    background-image: url('../images/GEMS-New-Millennium-School-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
#create{
    border-radius:20px;
    background: 
        linear-gradient(rgb(255, 255, 255,0.9), rgb(255, 255, 255,0.9)),
        url('../images/GEMS-New-Millennium-School-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}