{% extends "marketplace/layout.html" %}

{% block title %}Available Books{% endblock %}

{% block body %}
<h2 class="mb-4">Available Books</h2>
<form method="GET" class="mb-4">
    <select name="grade" class="form-select w-25 d-inline">
        <option value="">All Grades</option>
        {% for grade in grades %}
            <option value="{{ grade.id }}"
                {% if selected_grade == grade.id|stringformat:"s" %}selected{% endif %}>
                {{ grade }}
            </option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary">Filter</button>
</form>

{% if books %}
    <div class="row">
        {% for book in books %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <h6 class="card-subtitle text-muted">{{ book.subject }}</h6>

                        <p class="mt-2">
                            Grade: {{ book.grade }}<br>
                            Condition: {{ book.condition }}
                        </p>

                        {% if book.is_free %}
                            <span class="badge bg-success">FREE</span>
                        {% else %}
                            <span class="badge bg-primary">AED {{ book.price }}</span>
                        {% endif %}

                        <div class="mt-3">
                            <a href="{% url 'detail' book.id %}" class="btn btn-sm btn-outline-dark">
                                View Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No books listed yet. Come back later for Updates</p>
{% endif %}
{% endblock %}